@import "@/styles/variables.module.scss";
.wrapper{
    
    background: #F4F4F4;
    padding-left: $sideMargin;
    padding-right: $sideMargin;
    max-width: 1920px;
    height: 717px;
    

}