@import "@/styles/variables.module.scss";

.header{
    color: $darkBlueText;

    font-family: Open Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 43.58px;
    letter-spacing: 0%;

}