@import "@/styles/variables.module.scss";

.item {
    background-color: #F4F4F4;

    width: 366px;
    height: 579px;
    border-top-left-radius: 53.09px;
    border-bottom-right-radius: 53.09px;
    padding: 48px 44px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    
    .category {
        font-family: Open Sans;
        font-weight: 600;
        font-style: italic;
        font-size: 14px;
        line-height: 26.54px;
        letter-spacing: 0%;
        text-decoration: underline;
        text-decoration-style: solid;
        text-underline-offset: 25%;
        text-decoration-thickness: 20%;

    }

    .title {
        font-family: Playfair Display;
        font-weight: 900;
        font-size: 24.77px;
        line-height: 30.97px;
        letter-spacing: 4%;
        color: #1E2C3B;

    }

    .date{
        font-family: Playfair Display;
        font-weight: 700;
        font-size: 19.47px;
        line-height: 28.31px;
        letter-spacing: 0%;
        color: #1E2C3B;
    }

    .lead {
        font-family: Open Sans;
        font-weight: 400;
        font-size: 15.93px;
        line-height: 26.54px;
        letter-spacing: 0%;
        color: #1E2C3B;
    }

    .link{
        font-family: Open Sans;
        font-weight: 700;
        font-size: 15.93px;
        line-height: 21.69px;
        letter-spacing: 0px;
        color: #1E2C3B;
        text-decoration: none;

        img {
            margin-left: 5px;
        }
    }

}